@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

:root {
    --primary-color: #7d564b;
    --secondry-color: #ffcc0c;
    --third-color: #916941;
    --bg-primary: #ffffff;
}

#header {
    background: #ffffff;
    box-shadow: 2px 7px 12px 3px #0000000a;
    position: sticky;
    left: 0;
    top: 0;
}

.right_header_section ul li {
    background: #ffcc0c;
    padding: 4px 14px;
    border-radius: 6px;
    box-shadow: 7px 8px 6px -3px rgb(0 0 0 / 10%), 0px 5px 6px -2px rgb(246 194 167);
}

#back {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

#backSp {
    filter: drop-shadow(1px 0px 0px var(--secondry-color))
          drop-shadow(-1px 0px 0px var(--secondry-color))
          drop-shadow(0px 1px 0px var(--secondry-color))
          drop-shadow(0px -1px 0px var(--secondry-color))
          drop-shadow(1px 1px 0px var(--secondry-color))
          drop-shadow(-1px -1px 0px var(--secondry-color))
          drop-shadow(-1px 1px 0px var(--secondry-color))
          drop-shadow(1px -1px 0px var(--secondry-color));
}

.main {
    background: var(--bg-primary);
}

.heading_2 {
    color: var(--third-color);
}

.hr-2 {
    border: 1px solid #ffcc0c;
    width: 5%;
    margin-top: 0;
    margin-bottom: 0.6rem;
    height: 4px;
    background: #facc15;
    border-radius: 50px;
}

@media (max-width: 768px) {
    #menu li {
        margin-bottom: 1rem;
        width: -webkit-fill-available;
    }

    #back {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%);
        margin: 0.5rem;
        height: 50vh;
    }
}

/* tailwind rules */
@tailwind base;
@tailwind components;
@tailwind utilities;